<div class="carousel">
  <div class="carousel-cell">
      <div>
        <%= image_tag "govend.jpg", style:"height:auto; max-width:500px;", alt:"govend" %>
      </div>
      <div class="carousel-caption">
        <h2>Fullstack Web App</h2>
        <sup>Built by: Anna Villarreal</sup>
        <ul>
        <p>Features:</p>
        <li>Allows users to search for events meeting their criteria.</li>
        <li>Users can add events to their personal events list where they can 
          keep track of their event information, such as application status and payment status.</li>
        <li>A simple stat stracker to log your event expenses and sales.</li>
        <li>Users can comment on main event page listing.</li>
        <li>Users can follow each other and find relevent events through people they 
          follow via the Discover page and Feed page. </li>
        <li>Exciting styling that is relevent to festival life.</li>
        <li>Paginator styling enhanced.</li>
        <li>Calender events populate through a users events and show details on hover. </li>
        <li>Users get profile page to represent their business.</li>
        </ul>
        <a href="govend.ing">App: goVend</a>
        <br>
        <a href="https://github.com/AnnaVi11arrea1/go-vend-event">Repo: goVend</a>
        <p>Languages Used: HTML, CSS, Javascript, Ruby on Rails</p>
        <p>Integrations: Google Maps & AWS for file storage.</p>
      </div>
  </div>

  <div class="carousel-cell">
      <div>
        <%= image_tag "microfy.png", style:"height:auto; max-width:500px;", alt:"microfy" %>
      </div>
      <div class="carousel-caption">
        <h2>Fullstack web application</h2>
        <sup>Built by: Anna Villarreal, John Madrigal, and other contributing members of 01 Software Network.</sup>
        <ul>
        <p>Features:</p>
        <li>Allows users to easily create a custom cart for their shop.</li>
        <li>Shoppers can add items to their cart, they have a master cart that
          shows what items are being purchased from which shop.</li>
        <li>Products can be added with a CSV.</li>
        <li>Created custom color picker with sliders.</li>
        <li>Multiple custom themes to choose from to accomodate users and businesses.</li>
        <li>Users get profile page.</li>
        </ul>
        <a href="https://github.com/AnnaVi11arrea1/microcart/tree/dev">Repo: Microfy</a>
        <p>Languages used: HTML, CSS, Javascript, React</p>
      </div>
    </div> 

  <div class="carousel-cell">
      <div class="carousel-caption">
          <h2>Web Graphics Tutorial</h2>
          <sup>Built by: Anna Villarreal</sup>
          <p>
          I wanted to share my findings about the difference between using a <em>clip mask</em> or an <em>SVG</em> as a mask.
          I found this topic pretty exciting and wanted to share in a tutorial. </p>
          <p>It ultimatley led me down a path of exploring the construction of SVGs, which quickly turns into a rabbit hole, as with many things.</p>
          <p>Here a user can learn how to use and SVG file as a clipping mask for custom web graphics. </p>
          <p>This was a fun static project using CSS, HTML, Javascript, and Ruby on Rails. </p>
          <ul>
          <li><a href="https://annavi11arrea1.github.io/Web-Graphics-Tutorial/">Tutorial: Web Graphics</a></li>
          <li><a href="https://github.com/AnnaVi11arrea1/Web-Graphics-Tutorial">Repo: Web Graphics Tutorial</a></li>
          <li><a href="https://dev.to/annavi11arrea1/web-graphics-tutorial-learn-by-doing-474p">Blog: Web Graphics Tutorial</a></li>
          </ul>
          <p>Languages used: HTML, CSS, Javascript, and Ruby on Rails</p>
      </div>
      <div class="embed-container">
        <iframe src="https://annavi11arrea1.github.io/Web-Graphics-Tutorial/" class="embedded-site"></iframe>
      </div>
  </div>

  <div class="carousel-cell">
    <div>
      <%= image_tag "linkinbio.png", style:"height:auto; max-width:500px;", alt:"Link in Bio" %>
    </div>
    <div class="carousel-caption">
      <h2>Mini Web App</h2>
      <sup>Built by: Anna Villarreal</sup>
      <p>Link in bio is a small app that you can use to share your social media and websites with others. </p>
      <ul>
      <li><a href="https://github.com/AnnaVi11arrea1/link-in-bio2">Repo: Link in Bio</a></li>
      <li><a href="https://annavillarreal.info/">App: Link in Bio</a></li>
      </ul>
      <p>Languages used: Ruby on Rails, HTML, and CSS</p>
    </div>
  </div>

  <div class="carousel-cell">
      <%= image_tag "leadtracker.png", style:"width:100%; height:auto; padding:50px;", alt:"Link in Bio" %>
      <div style="carousel-caption">
        <h2>Chrome Extension: Tracker</h3>
        <sup>Built by: Anna Villarreal</sup>
        <p>Keep track of websites or items you need to refer back to. Great for sales leads.</p>
        <p>Enter an address into the box and save. </p>
        <p>Delete each once you are finished.</p>
        <p>Checkbox allows for easy deleting of many specific items at once.</p>
        <ul>
        <li><a href="https://github.com/AnnaVi11arrea1/Leads-Tracker">Repo: Leads Tracker</a></li>
        <li><a href="https://annavi11arrea1.github.io/Leads-Tracker/">App: Leads Tracker</a></li>
        </ul>
        <p>Langauges used: HTML, CSS, Javascript<p> 
      </div>
  </div>

  <div class="carousel-cell", style="display:flex; flex-direction:column; align-items:center; justify-content:center; margin-left:25%">
    <h2>Animated Radio Buttons</h2>
    <sup>Built by: Anna Villarreal</sup>
    <div class="rainbowBorder">
        <h3>Favorite Day:</h3>
        <div class="select-date" >
            <input class="box2" type="radio" id="may1" name="selection" required>
            <label class="label" for="may1">May 4th</label>
            <input class="box2" type="radio" id="june" name="selection" required>
            <label class="label" for="june">June 26th</label>
            <input class="box2" type="radio" id="july" name="selection" required>
            <label class="label" for="july">July 4th</label>
            <input class="box2" type="radio" id="august" name="selection" required>
            <label class="label" for="august">August 14th</label>
        </div>
    </div>
    <div style="margin-top:50px;">
        <a href="https://codepen.io/AnnaVi11arrea1/pen/WNWKVXN" style="margin-top:50px;">Codepen: Custom Radio Button</a>
        <p>Languages used: HTML and CSS.</p>
    </div>
  </div>

  <div class="carousel-cell">
      <%= image_tag "RainbowBBQchicken.jpg", style:"height:auto; max-width:500px;", alt:"bbq chicken class" %>
      <div class="carousel-caption">
        <h2>Custom radio button component</h2>
        <sup>Built by: Anna Villarreal</sup>
        <p>Sign up form for a BBQ chicken master class. </p>
        <ul>
        <li><a href="https://github.com/AnnaVi11arrea1/RainbowBBQChicken">Repo: Rainbow BBQ Chicken</a></li>
        <li><a href="https://github.com/AnnaVi11arrea1/RainbowBBQChicken">Static View: Rainbow BBQ Chicken</a></li>
        </ul>
        <p>Languages used: HTML and CSS</p>
      </div>
  </div>

  <div class="carousel-cell">
      <div class="carousel-caption"> 
          <h2>Circle cnimation, just for fun.</h2>
          <sup>Built by: Anna Villarreal</sup>
          <p>A simple circle animation using CSS and Javascript. </p>
          <p>The spinning colored squares are made by looping through an array of gradients.</p>
          <p>Languages used: HTML, CSS and Javascript.</p>
      </div>
      <div class="embed-container", style="height:100%; overflow:hidden;">
        <iframe src="https://annavi11arrea1.github.io/circle/"  class="embedded-site" 
            style="height:100%; width:100%; zoom:0.25; border:none;"
            scrolling="no">
        </iframe>
      </div>
  </div>

  <div class="carousel-cell">
      <%= image_tag "access.png", style:"width:50%; height:auto; padding:50px;", alt:"Access portal CLI game" %>
      <div class="carousel-caption">
        <h2>Access Portal</h2>
        <sup>Built by: Anna Villarreal</sup>
        <p>Access portal is a simple game where you decode door locks to advance to the next step. 
          Mr. Bojangles III 1.0 is there to guide you.<p>
        <p>This is a game written in Ruby and can be played through the command line.</p>
        <a href="https://github.com/AnnaVi11arrea1/Access_Portal_CLI_Game?tab=readme-ov-file">Repo: Access Portal</a>
        <p>Languages used: Ruby</p>
      </div>
  </div>

  <div class="carousel-cell">
      <%= image_tag "QRcode.png", style:"height:30%", alt:"QR code generator"  %>
      <div class="carousel-caption">
        <h2>QR Code Generator</h2>
        <sup>Built by: Anna Villarreal</sup>
        <p>QR Code Generator is a simple app that allows you to generate a QR code for any URL.</p>
        <p>This is a simple Ruby app that uses the RQRCode gem to generate QR codes.</p>
        <a href="https://github.com/AnnaVi11arrea1/QR_Code_Generator">Repo: QR Code Generator</a>
        <p>Languages used: Ruby</p>
      </div>
  </div>
    
</div>


<script>
    var carousel = document.querySelector('.carousel');
var flkty = new Flickity( carousel, {
  imagesLoaded: true,
  percentPosition: false,
});

var imgs = carousel.querySelectorAll('.carousel-cell img');
// get transform property
var docStyle = document.documentElement.style;
var transformProp = typeof docStyle.transform == 'string' ?
  'transform' : 'WebkitTransform';

flkty.on( 'scroll', function() {
  flkty.slides.forEach( function( slide, i ) {
    var img = imgs[i];
    var x = ( slide.target + flkty.x ) * -1/3;
    img.style[ transformProp ] = 'translateX(' + x  + 'px)';
  });
});
</script>